<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
  <%= @listing.address %>
  <%= @listing.price %>
  <%= @listing.listing_type %>
  <%= @listing.capacity %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
