<h3>My bookings</h3>

<div class="dash-wrapper">
  <div class="last-request">
    <h4>Recent requests</h4>
    <% @bookings.each do |booking| %>
    <h5>Current status: <%= booking.status %></h5>
      <div class="pending">
        <div id="listing-title">
          <h5><strong><%= Listing.find(booking.listing_id).name %></strong></h5>
        </div>
        <div class="booking-dates">
          <p><strong>Start date: </strong><%= booking.check_in %></p>
          <p><strong>End date: </strong><%= booking.check_out %></p>
          <p><strong>Total Price: </strong><%= booking.total_price %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="past-bookings">
    <h4>Past bookings</h4>
    <div class="fake-cards">
      <img src="https://res.cloudinary.com/dwtuoc2xm/image/upload/v1590751535/fake-cards-3_kvuxzg.png">
    </div>
  </div>
</div>
