<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-4">
    <%= link_to listing_path(listing) do %>
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photos[0].key, height: 300, width: 400, crop: :fill %>')">
          </div>
            <div class="flat-card-content">
              <div class="flat-card-title">
                <h6 class="card-overflow"><%= listing.name %></h6>
              </div>
                <div class="flat-card-address">
                  <p class="card-overflow"><%= listing.address %></p>
                </div>
                <div class="d-flex">
                  <div class="d-flex">
                    <i class="fas fa-user-friends">    <%= listing.capacity %></i>
                  </div>
                  <div class="d-flex ml-3">
                    <i class="fas fa-euro-sign">    <%= listing.price %></i>
                  </div>
                  <div class="d-flex ml-3">
                    <i class="fas fa-home">  <%= listing.listing_type %></i>
                  </div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
