
<% if user_signed_in? %>
  <% if policy(@listing).create? %>
    <%= link_to "add a new review", listing_reviews_path(@listing),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window1', class: 'btn btn-secondary btn-sm ml-5 mt-4'} %>
    <div id="modal-window1" class="modal hide fade w-100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content w-100">
          <div class="outer-box-newreview">
            <div class="login-title">
              <h2>Post a review</h2>
            </div>
            <%= simple_form_for [ @listing, @review ] do |f| %>
            <%= f.input :content,
            autofocus: true,
            label: false,
            input_html: { class: "login-input", placeholder: "write your review" } %>
            <%= f.input :rating,
            autofocus: true,
            label: false,
            input_html: { class: "login-input", placeholder: "rating" } %>
            <%= f.submit "Submit review", { class: "submit-review-button" } %>
            <% end %>
          </div>
          <div class="container m-3">
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
