<div class=" center w-100">
  <ul class="list-group mx-3">
    <br>
    <br>
    <div id="reviews" class="w-100 center">
     <div class="d-flex justify-content-center align-middle">
        <div class="text-center">
          <h4 class="text-center mb-0 mt-1 pt-4 listing-title">Reviews</h4>
          <%= render "/shared/modal_review" %>
        </div>
      </div>
      <br>
      <br>
      <% @listing.reviews.each do |review| %>
      <li class= "list-group-item pt-3 m-3 border-radius soft-yellow box-shadow">
        <div class="list-group">
          <a href="#" class=" list-group-item m-2 border-radius box-shadow list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 brown shadowed"><%=  review.user.first_name.capitalize %> <%=  review.user.last_name.capitalize %> </h5>
              <small class= "shadowed brown">3 hours ago</small>
            </div>
            <p id="review-<%= review.id %>" class="mb-1 shadowed"><%=  review.content %></p>
            <small class="shadowed"><%=  review.rating %> out of 5 <i class="fas fa-star"></i></small>
          </a>
        </div>
        <div class="d-flex review_actions">
          <% if user_signed_in? %>
            <% if policy(review).destroy? %>
              <div class="p-1 mt-1"> <%= link_to "<i class='fas fa-trash'></i>".html_safe,
                                review_path(review),
                                method: :delete,
                                remote: true,
                                data: { confirm: "Are you sure?" } %>
              </div>
            <% else %>
              <div class="p-1 mt-1" style= "height:40px";>
            <% end %>
            <% if policy(review).edit? %>
              <div class="p-1 mt-1"> <%= link_to "<i class='fas fa-pencil-alt'></i>".html_safe,
              edit_review_path(review) %>
              </div>
             <% else %>
              <div class="p-1 mt-1" style= "height:40px";>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
    </div>
  </ul>
</div>

