<div class=" center w-75">
  <ul class="list-group w-100">
    <br>
    <br>
    <div id="reviews" class="w-100 center" data-controller="add_review">
     <div class="d-flex justify-content-center align-middle">
        <div class="text-center">
          <h4 class="text-center mb-0 mt-1">Reviews</h4>
          <%= render "/shared/modal_review" %>
        </div>
      </div>
      <br>
      <br>
      <% @listing.reviews.each do |review| %>
      <li class= "list-group-item pt-4 bg-light">
        <div class="list-group">
          <a href="#" class=" list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%=  review.user.first_name.capitalize %> <%=  review.user.last_name.capitalize %> </h5>
              <small>3 days ago</small>
            </div>
            <p id="review-<%= review.id %>" class="mb-1"><%=  review.content %></p>
            <small><%=  review.rating %> out of 5 <i class="fas fa-star"></i></small>
          </a>
        </div>
        <div class="d-flex review_actions">
          <% if policy(review).destroy? %>
            <div class="p-1"> <%= link_to "<i class='fas fa-trash'></i>".html_safe,
                              review_path(review),
                              method: :delete,
                              remote: true,
                              data: { confirm: "Are you sure?" } %>
            </div>
          <% end %>
          <% if policy(review).edit? %>
            <div class="p-1"> <%= link_to "<i class='fas fa-pencil-alt'></i>".html_safe,
            edit_review_path(review) %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
    </div>
  </ul>
</div>

