<div class="d-flex justify-content-around p-4 mt-4 padded box-shadow">
  <div class="text-right ml-3 mt-5 w-100 d-flex justify-content-between ">
    <%= render "/shared/carosel" %>
    <div class= "w-50">
      <div class= "mt-4 bg-white text-center specs border-radius box-shadow p-3 ml-3">
        <h4 class="brown"><%= @listing.name %></h4>
      </div>
      <div class="all-specs mt-4 ml-3">
        <div class="d-flex center specs">
          <h5 class="ml-4 brown ">address:</h5>
          <p><%=@listing.address %></p>
        </div>
        <div class="d-flex center specs">
          <h5 class="ml-4 brown ">price: </h5>
          <p><%=@listing.price %></p>
        </div>
        <div class="d-flex center specs">
          <h5 class="ml-4 brown">listing type: </h5>
          <p><%=@listing.listing_type %></p>
        </div>
        <div class="d-flex center specs">
          <h5 class="ml-4 brown">capacity: </h5>
          <p><%=@listing.capacity %></p>
        </div>
        <div class="text-center">
          <%= render "/shared/modal_booking" %>
        </div>
      </div>
      <div class="text-center mt-3">
        <%= link_to "back to listings", listings_path, :class => "btn btn-light btn-md mb-2" %>
        <% if user_signed_in? %>
          <% if policy(@listing).edit? %>
            <i class="fas fa-circle small align-middle mb-1"></i>
            <%= link_to "edit listing", edit_listing_path, :class => "btn btn-light btn-md mb-2" %>
          <% end %>
          <% if policy(@listing).destroy? %>
            <i class="fas fa-circle small align-middle mb-1"></i>
            <%= link_to "delete listing",
                @listing,
                method: :delete,
                data: { confirm: "Are you sure?" }, :class => "btn btn-light btn-md mb-2" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "/shared/review_show_card" %>



