<div class="d-flex justify-content-around mt-4 border-radius box-shadow">
  <div class="text-right ml-3 mt-5 w-100 d-flex justify-content-between ">
    <%= render "/shared/carosel" %>
    <div class= "w-50">
      <div class= "mt-4 text-center specs border-radius box-shadow p-3 ml-3 mr-3">
        <h4 class="brown listing-title"><%= @listing.name %></h4>
      </div>
      <div class="all-specs soft-yellow mt-4 ml-3 mr-3">
        <div class="d-flex center specs">
          <p class="ml-4 brown shadowed ">address:</p>
          <h5 class="green ml-2 shadowed"><%=@listing.address.capitalize %></h5>
        </div>
        <div class="d-flex center specs">
          <p class="ml-4 brown shadowed ">price: </p>
          <h5 class="green ml-2 shadowed"><%=@listing.price %></h5>
        </div>
        <div class="d-flex center specs">
          <p class="ml-4 brown shadowed">listing type: </p>
          <h5 class="green ml-2 shadowed"><%=@listing.listing_type.capitalize %></h5>
        </div>
        <div class="d-flex center specs">
          <p class="ml-4 brown shadowed mb-4">capacity: </p>
          <h5 class="green ml-2 shadowed"><%=@listing.capacity %></h5>
        </div>
        <div class="text-center">
          <%= render "/shared/modal_booking" %>
        </div>
      </div>
      <div class="text-center mt-3">
        <%= link_to "back to listings", listings_path, :class => "btn btn-pale btn-sm border-radius mb-2" %>
        <% if user_signed_in? %>
          <% if policy(@listing).edit? %>
            <i class="fas fa-circle small align-middle mb-1"></i>
            <%= link_to "edit listing", edit_listing_path, :class => "btn btn-pale border-radius btn-sm mb-2" %>
          <% end %>
          <% if policy(@listing).destroy? %>
            <i class="fas fa-circle small align-middle mb-1"></i>
            <%= link_to "delete listing",
                @listing,
                method: :delete,
                data: { confirm: "Are you sure?" }, :class => "btn btn-pale border-radius btn-sm mb-2" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "/shared/review_show_card" %>



