<div class="d-flex justify-content-around pt-4">
  <div class="text-right ml-3 mt-5 w-100 d-flex justify-content-between">
    <%= render "/shared/carosel" %>

    <div class= "w-50">
      <h4 class="text-right pr-5 red"><%= @listing.name %></h4>
      <br>
      <br>
      <div class="d-flex center specs">
        <h5 class="ml-5 red">address: </h5>
        <p><%=@listing.address %></p>
      </div>
      <div class="d-flex center specs">
        <h5 class="ml-5 red">price: </h5>
        <p><%=@listing.price %></p>
      </div>
      <div class="d-flex center specs">
        <h5 class="ml-5 red">listing type: </h5>
        <p><%=@listing.listing_type %></p>
      </div>
      <div class="d-flex center specs">
        <h5 class="ml-5 red">capacity: </h5>
        <p><%=@listing.capacity %></p>
      </div>
    </div>
  </div>
</div>
<div class="mr-5 w-50">
  <ul class="list-group">
    <h4 class="text-right">Reviews:</h4>
    <% @listing.reviews.each do |review| %>
    <li class= "list-group-item">
      <%=review.content %>
      <%= link_to "<i class='fas fa-trash'></i>".html_safe,
      review_path(review),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </li>
    <% end %>
  </ul>
</div>

